
<div class= "flex-container"
    fxLayout 
    fxLayoutAlign="start" 
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
>
    <div fxFlex="50" class="flex-item item1" >
        <form [formGroup]="passForm" class="pass-form" (ngSubmit)="updatePassword()" >
            <div class="header"><h1>Modifica password</h1></div>
            <mat-form-field appearance="legacy">
                <mat-label>Password corrente</mat-label>
                <input formControlName="oldPassword" type="password" matInput>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="oldPassword.invalid">
                    {{getErrorMessage('oldPassword')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Nuova password</mat-label>
                <input formControlName="newPassword" type="password" matInput>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="newPassword.invalid">
                    {{getErrorMessage('newPassword')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Conferma password</mat-label>
                <input formControlName="confirmPassword" type="password" matInput>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="confirmPassword.invalid">
                    {{getErrorMessage('confirmPassword')}}
                </mat-error>
            </mat-form-field>
            
            <div class ="button-btn">
                <button type="submit" class="btn" mat-raised-button color="primary" >Salva</button>
            </div>
            
        </form>
    </div>
</div>
